<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Meta Datos -->
  <%- include ('./partials/meta.ejs')%>

  <!-- Estilos -->
  <!--   <%- include ('./partials/css.ejs')%> -->

  <link rel="stylesheet" href="/css/main.css">

  <title>ElectroTools - Home</title>
</head>

<body>
  <!-- ----------------- -->
  <!--      HEADER       -->
  <!-- ----------------- -->
  <%- include ('./partials/header.ejs') %>


  <!-- ----------------- -->
  <!--       MAIN        -->
  <!-- ----------------- -->
  <%- include ('./partials/main.ejs') %>


  <!-- ----------------- -->
  <!--      FOOTER       -->
  <!-- ----------------- -->
  <%- include ('./partials/footer.ejs') %>

</body>